*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-image: url(nature2.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    position: relative;
    width: 370px;
    box-shadow: 1px 1px 10px rgb(28, 26, 26);
    padding: 8px;
    background-color: transparent;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 70px;
}

h2{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
p{
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
#btn1{
    margin-left: 10px;
    padding: 0 15px;
    font-weight: bold;
    color:azure;
    border: none;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    cursor: pointer;
}
.guess{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#input-box{
    height: 30px;
    width: 150px;
    border: none;
    outline: none;
    padding-left: 10px;
}
#btn2{
    margin: 20px 0 10px 38%;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}
.box span{
    position: absolute;
    display: block;
}
.box span:nth-child(1){
    top: 0px;
    left: -100px;
    width: 100%;
    height: 2px;
     background-image: linear-gradient(30deg,transparent,rgb(106, 12, 239));
    animation: animat1 1s infinite;
}
@keyframes animat1 {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
        
    }
}
.box span:nth-child(2){
    top: -100%;
    right: 0px;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(30deg,transparent,rgb(236, 236, 30));
    animation: animat2 1s infinite;
    animation-delay: 0.25s;
}
@keyframes animat2 {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
.box span:nth-child(3){
    bottom: 0px;
    right: -100px;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(30deg,transparent,rgb(106, 12, 239));
    animation: animat3 1s infinite;
    animation-delay: 0.50;
}
@keyframes animat3 {
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
.box span:nth-child(4){
    bottom: -100%;
    left: 0px;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(30deg,transparent,rgb(236, 236, 30));
    animation: animat4 1s infinite;
    animation-delay: 0.75s;
}
@keyframes animat4 {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}